<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.codingtony.pace"
        versionCode = "1" 
        version     = "0.1" >

    <!-- versionCode is optional and Android only -->
    <name>Running Pace Calculator</name>

    <description>
App that provides few tools to calculate running paces.
    </description>

    <author href="http://codingtony.com" email="tony@codingtony.com">Tony Bussieres</author>
    <preference name="phonegap-version" value="3.3.0" />
    <gap:platform name="android" />
    <icon src="icons/Run-People-Silhouettes-design-vector.png"  />

</widget>
